### Powerful EDA (Exploratory Data Analysis)

In [2]:
pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.1.3-py3-none-any.whl (15.1 MB)
     |████████████████████████████████| 15.1 MB 14.7 MB/s eta 0:00:01    |█████████████████████████       | 11.8 MB 4.2 MB/s eta 0:00:01     |██████████████████████████▊     | 12.6 MB 4.2 MB/s eta 0:00:01
Collecting importlib-resources>=1.2.0
  Downloading importlib_resources-5.7.1-py3-none-any.whl (28 kB)
Requirement already satisfied: tqdm>=4.43.0 in /Users/snigdhakakkar/opt/anaconda2/envs/tf/lib/python3.7/site-packages (from sweetviz) (4.50.2)
Requirement already satisfied: matplotlib>=3.1.3 in /Users/snigdhakakkar/opt/anaconda2/envs/tf/lib/python3.7/site-packages (from sweetviz) (3.3.4)
Requirement already satisfied: jinja2>=2.11.1 in /Users/snigdhakakkar/opt/anaconda2/envs/tf/lib/python3.7/site-packages (from sweetviz) (3.0.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /Users/snigdhakakkar/opt/anaconda2/envs/tf/lib/python3.7/site-packages (from sweetviz) (1.3.5)
Requirement already satisfied: scipy>=1.3.2 in /Users/snigdhakakkar/opt/anaconda2/envs/tf/lib/python3.7/site-packages (from sweetviz) (1.6.2)
Requirement already satisfied: numpy>=1.16.0 in /Users/snigdhakakkar/opt/anaconda2/envs/tf/lib/python3.7/site-packages (from sweetviz) (1.21.6)
Requirement already satisfied: zipp>=3.1.0 in /Users/snigdhakakkar/opt/anaconda2/envs/tf/lib/python3.7/site-packages (from importlib-resources>=1.2.0->sweetviz) (3.5.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/snigdhakakkar/opt/anaconda2/envs/tf/lib/python3.7/site-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/snigdhakakkar/opt/anaconda2/envs/tf/lib/python3.7/site-packages (from matplotlib>=3.1.3->sweetviz) (8.3.1)
Requirement already satisfied: cycler>=0.10 in /Users/snigdhakakkar/opt/anaconda2/envs/tf/lib/python3.7/site-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/snigdhakakkar/opt/anaconda2/envs/tf/lib/python3.7/site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/snigdhakakkar/opt/anaconda2/envs/tf/lib/python3.7/site-packages (from matplotlib>=3.1.3->sweetviz) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /Users/snigdhakakkar/opt/anaconda2/envs/tf/lib/python3.7/site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: six in /Users/snigdhakakkar/opt/anaconda2/envs/tf/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=3.1.3->sweetviz) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in /Users/snigdhakakkar/opt/anaconda2/envs/tf/lib/python3.7/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2022.1)
Installing collected packages: importlib-resources, sweetviz
Successfully installed importlib-resources-5.7.1 sweetviz-2.1.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
### Dataset link - https://www.kaggle.com/c/house-prices-advanced-regression-techniques
import pandas as pd
import sweetviz as sz

In [5]:
train = pd.read_csv("datasets/House_price_train.csv")
test = pd.read_csv("datasets/House_price_test.csv")

In [6]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

### Analyzing a single dataframe (And optional target feature)

In [7]:
my_report = sz.analyze([train, "Train"],target_feat='SalePrice')

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=82.0), HTML(value='')), l…

In [8]:
my_report.show_html('Report.html')

Report Report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

### Comparing two dataframes (e.g. Test vs Training sets)

In [10]:
my_report1 = sz.compare([train, "Train"], [test, "Test"], "SalePrice")

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=82.0), HTML(value='')), l…

In [11]:
my_report1.show_html('Report.html')

Report Report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [12]:
train['LandContour'].unique()

array(['Lvl', 'Bnk', 'Low', 'HLS'], dtype=object)